@font-face {
  font-family: "Passio";
  src: url("assets/Passio-Graphis.otf") format("opentype");
}
.game{
  display: inline-flex;
  width: 100%;
}

.board{
  width: 70vh;
  height:70vh;
  margin-left: 20%;
  border: 5px solid black;
  margin-top: 5vh;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 2% 2% 2% 0% ;
}

.letter{
  font-family: 'Passio';
  width: 4%;
  height: 4%;
  margin-left:6%;
  bottom:8%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  user-select: none;


}

.selected{
  color: red;
  // border: 5px solid black;

}

.score{
  font-family: 'Passio';
  margin-top: 5vh;
  font-weight: bold;
  margin-left: 40vw;
  font-size: 2em;
}

.timer{
  font-family: 'Passio';
  margin-top: 2vh;
  font-weight: bold;
  margin-left: 43vw;
  font-size: 2em;
}

.reset{
  font-family: 'Passio';
  margin-top: 2vh;
  font-weight: bold;
  margin-left: 40vw;
  font-size: 2em;
  text-decoration: underline;
}
li{
  list-style: none;
  font-family: 'Passio';
  font-weight: bold;
  font-size: 1.5em;
}
